@import "tailwind"

.menu ul li {
    list-style: none;
}

.animate-glow {
    animation: glow 1.5s infinite;
}



@keyframes glow {
    0% {
        box-shadow: 0 0 0 0 #FB09B4;
    }
    70% {
        box-shadow: 0 0 0 10px #fb09b23d;
    }
    100% {
        box-shadow: 0 0 0 0 #fb09b200;
    }
}
















@media (max-width: 576px) {
        .mobile-hidden { 
            display: none !important; 
        }
    }

@media screen and (min-width: 576px) and (max-width: 992px) {
    .tablet-hidden {
        display: none !important;
    }
}
@media screen and (min-width: 992px) {
    .desktop-hidden {
        display: none !important;
    }
}